{
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "env": {
    "browser": 1,
    "node": 1,
    "amd": 1
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "indent": [2, 2],
    "no-catch-shadow": 0,
    "no-empty": 0,
    "no-multi-spaces": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "quotes": [1, "single"],
    "strict": 0,
    'no-wrap-func': 0
  }
}