{
  "parser": "babel-eslint",
  "env": {
    "browser": 1,
    "amd": 1
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "no-restricted-modules": [2, "cluster"],
    "max-statements": [1, 10],
    "max-params": [1, 3],
    "strict": [1, "global"],
    "complexity": [1, 6],
    "max-depth": [1, 2],
    "max-len": [1, 100, 4],
    "generator-star-spacing": [2, "after"],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "func-style": [2, "expression"],
    "comma-style": [2, "last"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "camelcase": [2, {"properties": "always"}],
    "max-nested-callbacks": [2, 3],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true}],
    "no-multiple-empty-lines": [1, {max: 2}],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "before"],
    "padded-blocks": [1, "never"],
    "quote-props": [2, "as-needed"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "sort-vars": [1, {"ignoreCase": false}],
    "spaced-line-comment": ["always"],
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "space-infix-ops": [2, {"int32Hint": false}],
    "space-in-parens": [2, "never"],
    "space-in-brackets": [2, "never"],

    "no-constant-condition": 1,
    "strict": 1,
    "no-control-regex": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty-class": 1,
    "no-ex-assign": 1,
    "no-extra-semi": 1,
    "no-extra-parens": 1,
    "no-func-assign": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 1,
    "use-isnan": 1,
    "valid-jsdoc": 1,
    "valid-typeof": 1,
    "no-regex-spaces": 1,
    "block-scoped-var": 1,
    "consistent-return": 1,
    "curly": 1,
    "default-case": 1,
    "dot-notation": 1,
    "guard-for-in": 1,
    "no-else-return": 1,
    "no-div-regex": 1,
    "no-empty-label": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-implied-eval": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new-wrappers": 1,
    "no-new-func": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-redeclare": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-void": 1,
    "no-unused-expressions": 1,
    "no-with": 1,
    "radix": 1,
    "yoda": 1,
    "handle-callback-err": 1,
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-shadow": 1,
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "no-mixed-requires": 1,
    "no-new-require": 1,
    "no-path-concat": 1,
    "no-process-exit": 1,
    "no-sync": 1,
    "func-names": 1,
    "eol-last": 1,
    "consistent-this": 1,
    "no-array-constructor": 1,
    "new-parens": 1,
    "new-cap": 1,
    "no-new-object": 1,
    "no-nested-ternary": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-lonely-if": 1,
    "no-spaced-func": 1,
    "no-wrap-func": 1,
    "no-trailing-spaces": 1,
    "semi": 1,
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-return-throw-case": 1,

    "eqeqeq": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "no-unused-expressions": 0,
    "no-cond-assign": 0,
    "no-new": 0,
    "no-empty": 0,
    "no-extra-boolean-cast": 0,
    "no-reserved-keys": 0,
    "no-caller": 0,
    "no-floating-decimal": 0,
    "no-iterator": 0,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 0,
    "no-return-assign": 0,
    "no-warning-comments": 0,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "no-catch-shadow": 0,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-plusplus": 0,
    "no-bitwise": 0,
    "object-shorthand": 0,
    "no-var": 0,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-ternary": 0,
    "one-var": 0,
    "wrap-regex": 0,
    "space-before-function-paren": 0,
    "space-before-blocks": 0
  }
}
